/* 
    primary-color: #11A4D8;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.img-logo {
    flex:50%;
    margin-right: 30%;
    text-align: left;
    padding: 25px 50px;
}

.menu {
    display:flex;
    flex:60%;
    text-align: right;
    padding: 5px;
    height: 60px;
}

.menu a{
    display: flex;
    color: #11A4D8;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 5px;
}

.menu a:hover{
    display: flex;
    color: white;
    border-top: 4px solid #11A4D8;
}

#botao{
    display: flex;
    background: #11A4D8;
    padding: 15px 30px;
    color: white;
    margin-right: 0%;
    margin-left: 5%;
}

#botao:hover{
    display: flex;
    border-top:4px solid #11A4D8; color: #11A4D8;
    background:white ;
}
#botao2{
    display: flex;
    background: white;
    padding: 15px 30px;
    color: #11A4D8;
    margin-right: 0%;
    margin-left: 5%;
}